/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
 #map {
    width: 22.39583333333%;
    height: 84.444444444444444%;
    margin: auto;
  }
  
  /*
   * Optional: Makes the sample page fill the window.
   */
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.top_container{
    width: 100%;
    height: 15.555555555%;
    margin: 0 auto;
    background-color: #255ECE;
}